



  .green{
    color: yellow;
      }

      .pink{
        color: palevioletred;
             }

             .w{
                text-align:center;
                }
                
                #game{
                    border: 50px; solid: red
                   }
               .red{
             color: red;
           }
           
           .ali{
            color: rgb(245, 18, 18);
                 font-size:20px;
                       font-family:Arial;
                         text-align: center;
                            }

                            .sport{
                                background-color:green;;
                                }

#example{
   width:300px;
    height:500px;
      border:3px;
  }
                                 
                              
                               
                          
                         